*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      padding: 40px;
      background: #c1bbf8;
      color: rgb(13, 138, 255);
    }
    .container {
      background: #d1ff05;
      padding: 20px;
      border-radius: 10px;
      
      box-shadow:2px 2px 4px white,
                  -2px -2px 4px white ;                 
      width: 320px;
    }
    h2 {
      text-align: center;
    }
    .input-row {
      display: flex;
      margin-bottom: 15px;
    }
    input {
      flex: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    button {
      margin-left: 8px;
      padding: 8px 12px;
      border: none;
      border-radius: 6px;
      background: #f8a305;
      color: #fff;
      cursor: pointer;
    }
    button:hover {
      background: #218838;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 8px;
      margin-bottom: 6px;
      background: #f9f9f9;
      border-radius: 6px;
    }
    li.completed span {
      text-decoration: line-through;
      color: gray;
    }
    .delete-btn {
      background: red;
      border: none;
      color: white;
      padding: 4px 8px;
      border-radius: 6px;
      cursor: pointer;
    }
    .delete-btn:hover {
      background: darkred;
    }
  